{%- extends "base.html" %} {%- block seo -%} {{- super() }}
{%- if page.extra.apple.appstore.id -%}<meta name="apple-itunes-app" content="app-id={{ page.extra.apple.appstore.id }}">{%- endif -%}
{%- set
title_addition = "" %} {%- if page.title and config.title %} {%- set title =
page.title %} {%- set title_addition = title_separator ~ config.title %} {%-
elif page.title %} {%- set title = page.title %} {%- else %} {%- set title =
config.title %} {%- endif %} {%- if page.relative_path is
starting_with("posts/") %} {%- set description = page.content | spaceless |
striptags | truncate(length=200) %} {%- set type = "article" %} {%- else %} {%-
if page.description %} {%- set description = page.description %} {%- else %} {%-
set description = config.description %} {%- endif %} {%- set type = "website" %}
{%- endif %} {{- macros::seo( title=title, title_addition=title_addition,
description=description, type=type, s_page=true) }} {% endblock seo %} {%- block
content %}
<article class="page">
    <div class="header-container">
        <h2 href="{{ page.permalink }}" class="app-item">
            {%- if page.extra.icon %}
            <img
                src="{{ page.extra.icon }}"
                alt="{{ page.title }} Application Icon"
                class="app-icon app-icon--title"
            />
            {%- endif -%}
            <div class="app-info">
                {{ page.title }}
            </div>
        </>
        {%- if config.extra.edit_page %}
        <div class="improve hide-on-mobiles">
            {{ macros::get_edit_url(page=page) }}
        </div>
        {%- endif %}
    </div>
    {%- if page.extra.apple.appstore.url -%}
    <p>
        <a href="{{ page.extra.apple.appstore.url | safe }}">
            <img src="/apps/appstore_button.svg" alt="Download on the App Store" />
        </a>
    </p>
    {%- endif -%}
    <div class="entry">{{ page.content | safe }}</div>
    {%- include "partials/giscus.html" -%}
</article>
{% endblock %}
